<amexio-card-ce>
  <amexio-body-ce [align]="'start'">
    DEMO1
    <hr />
    <amexio-layout-grid1 [layout]="'borderlayoutdemo1'">
      <amexio-grid-item1 [title]="'North'" [vc-enabled]="true" [vc-direction]="'top'" [name]="'north'">
          NORTH BLOCK
      </amexio-grid-item1>
      <amexio-grid-item1 [title]="'West'" [hc-enabled]="true" [hc-direction]="'left'" [name]="'west'">
          WEST BLOCK
      </amexio-grid-item1>
      <amexio-grid-item1 [title]="'Center'" [name]="'center'">
        CENTER BLOCK
      </amexio-grid-item1>
      <amexio-grid-item1 [title]="'East'" [hc-enabled]="true" [hc-direction]="'right'" [name]="'east'">
          EAST BLOCK
      </amexio-grid-item1>
      <amexio-grid-item1 [title]="'South'" [vc-enabled]="true" [vc-direction]="'bottom'" [name]="'south'">
          SOUTH BLOCK
      </amexio-grid-item1>
    </amexio-layout-grid1>

    <br />
    DEMO2
    <hr />
    <amexio-layout-grid1 [layout]="'borderlayoutdemo2'">
      <amexio-grid-item1 [vc-enabled]="true" [vc-direction]="'top'" [name]="'north'">NORTH BLOCK</amexio-grid-item1>
      <amexio-grid-item1 [hc-enabled]="true" [hc-direction]="'left'" [name]="'west'">WEST BLOCK</amexio-grid-item1>
      <amexio-grid-item1 [name]="'center'">CENTER BLOCK</amexio-grid-item1>
      <amexio-grid-item1 [hc-enabled]="true" [hc-direction]="'right'" [name]="'east'">EAST BLOCK</amexio-grid-item1>
      <amexio-grid-item1 [vc-enabled]="true" [vc-direction]="'bottom'" [name]="'south'">SOUTH BLOCK</amexio-grid-item1>
    </amexio-layout-grid1>
  </amexio-body-ce>

</amexio-card-ce>