<amexio-layout-grid1  [layout]="'LayoutSample1'">
  <amexio-grid-item1 [split-position]="'bottom'" [name]="'gridheader'">Header</amexio-grid-item1>
  <amexio-grid-item1 [split-position]="'right'"  [name]="'gridmenu'">Menu</amexio-grid-item1>
  <amexio-grid-item1  [name]="'gridmain'">Main </amexio-grid-item1>
  <amexio-grid-item1  [split-position]="'left'" [name]="'gridright'">Right</amexio-grid-item1>
  <amexio-grid-item1  [split-position]="'top'" [name]="'gridfooter'">Footer</amexio-grid-item1>
</amexio-layout-grid1>
