.borderlayout{
    gap: 0px;
}
amexio-grid-item1{ 
    border: 1px dotted;
    
}

.grid-vc-towards-top{
    display: flex;
    flex-direction: column-reverse;
}

.vc-towards-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.vc-towards-top i {
    cursor: pointer;
}

.grid-vc-towards-bottom{
    display: flex;
    flex-direction: column;
}


.vc-towards-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.vc-towards-bottom i {
    cursor: pointer;
}


.grid-hc-towards-left{
    display: flex;
    flex-direction: row-reverse;
}

.hc-towards-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.hc-towards-left i {
    cursor: pointer;
}

.grid-hc-towards-right{
    display: flex;
    flex-direction: row;
}

.hc-towards-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.hc-towards-right i {
    cursor: pointer;
}


